/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 5, 2021, 8:21:57 PM
    Author     : Dragos
*/

.wrapper{
                width: 78%;
                margin: 12%;
                
            }
            
            .box{
                height: 293px;
                width: 30%;
                float: left;
                overflow: hidden;
                position: relative;
                margin: 0 19px;
            }
            
            .img1{
                position: absolute;
                z-index: 2;
                transition: .4s;
                transform-origin: 50%,50%;
                width:100%;
             }
             
             .img2{
                 filter: blur(20px);
                 transform: scale(1.1);
                 opacity: 1;
                 transition: .4s;
                 width: 100%;
             }
             
             .box:hover .img1{
                 filter: blur(20px);
                 transform: scale(1.1);
                 opacity: 0;
             }             
             
             .box:hover .img2{
                 filter: blur(0);
                 transform: scale(1);
                 opacity: 1;
             }
            
             .title{
                font-family: Arial;
                font-size: 29px;
                margin: 13%;
                margin-top: 0px;
                color: white;
             }
             a {
                text-decoration: none;
                display: inline-block;
                padding: 12px 20px;
                margin-top: 21px;
                margin-left: 84px;
              }

              a:hover {
                background-color: #ddd;
                color: black;
                transition: .4s;
              } 
               
              .previous {
                background-color: #f1f1f1;
                color: black;
              }

              .round {
                border-radius: 50%;
              }
            
             body{
                 background-image: url("../images/bg1.jpg");
                 height: 100%;
                 background-position: center;
                 background-repeat: no-repeat;
                 background-size: cover;
             }
             
             .line {
                width: 29%;
                height: 0px;
                margin-top: -21px;
                border-bottom: 2px solid #795548;
              }
              
              .minititle{
                font-family: Arial;
                color: white;
                font-size: 36px;
                font-weight: 500;  
              }
              
              .first{
                margin-left: 17px;  
              }
              
              .second{
                  margin-top: -79px;
                  margin-left: 500px;
              }
              
              .third{
                  margin-top: -77px;
                  margin-left: 1256px
              }
              
              .line-a{
                  margin-left: 1220px;
                  width: 200px;
                  border-bottom: 2px solid #795548;
              }
              
              .line-b{
                 margin-left: 610px;
                 width: 200px; 
                 border-bottom: 2px solid #795548;
              }
              
              .line-c{
                 width: 200px;
                 margin-left: 21px;
                 border-bottom: 2px solid #795548;
              }
              
              .line-d{
                 width: 1400px;
                 margin-top: 349px;
                 margin-left: 247px;
                 opacity: 0.6;
                 border-bottom: 8px solid #795548;
              }
              
              .vl {
                border-left: 3px solid transparent;
                height: 500px;
              }
              
              .about-text{
                  text-align: left;
                  font-family: Arial;
                  color: white;
                  font-size: 27px;
                  margin-left: 245px;
              }
              
              .easy-recruit{
                  font-size: 45px;
              }
              
              #txt6 {
                    color: white;
                    position: relative;
                    top: 13px;
                    left: 8%;
                    width: 80%;
                    color: black;
                    text-align: center;
                    font-family: Arial;
              }
                #part2 {
                    width: 100%;
                    height: 50px;
                    background-color: none;
                    position: relative;
                    top: -15px
                }