/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2021, 7:54:37 PM
    Author     : Dragos
*/

a.interview:link, a.interview:visited {
   background-color: white;
   color: black;
   border: 2px solid lightskyblue;
   padding: 6px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
 }

 a.interview:hover, a.interview:active {
   background-color: lightblue;
   color: white;
}